<h2>Create a New Landmark:</h2>

<form action="/landmarks" method="POST">
  <p>Name:</p>
  <input type="text" name="landmark[name]" id="landmark_name">

  <br><br>
  <p>Year Completed:</p>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <br><br>
  <button type="submit">Create New Landmark</button>

</form>